<table>
<% for (var iIndex=0; iIndex<quizes.length; iIndex++) { %>
	<tr>
		<td>
			<a href="quizes/<%= quizes[iIndex].id %>">
				<%= quizes[iIndex].pregunta %>
			</a>
		</td>
		<td>
			<a href="quizes/<%= quizes[iIndex].id %>/edit">
				<button>editar</button>
			</a>
		</td>
	</tr>
<%	}%>
</table><p>
<a href="/quizes/new"><button type="button">Crear pregunta</button></a>